@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html,
body {
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}
